@model int

@{
    ViewBag.Title = "결제가 완료되었습니다.";
}

<h2>결제가 완료되었습니다.</h2>

<p>WeLoveVocalEDM에 함께해주셔서 감사합니다. 주문번호는: @Model 입니다.</p>

<p>
    더 많은 파티 정보를 보시려면
    <a asp-controller="Home" asp-action="Index">Store</a>
</p>